@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@400&family=Righteous&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
 
 
/* This is for the whole webpage */
body {
            background-color: #c57dc5 ;}
.font {
            font-family:'Poppins', sans-serif;}
 
/*Style main title*/
.purpleheading {
            color:#7030A0;
            font-size: 5vw;
            font-weight: bold;
            text-align: center;
            text-shadow: 0.2vw 0.2vw #431d6030 ;
            height:4vw;
            margin-top: 0;
          }
 
/*Style page sub-title*/
.purpletitle {
            color:#7030A0;
            font-size: 5vw;
            font-weight: bold;}
.purpleheading2 {
            color:#7030A0;
            text-align: center;
            font-size: 1.8vw;
            font-weight: bold;
            margin:0.4vw;}
 
/*This is for the buttons */
/*Banner container*/
.purpbanner {
            background-color:#7030A0;          
            padding-top: 0.3vw;
            padding-bottom: 0.3vw;
            height: fit-content;
            }
/*Button container*/

*
.btn-center{
            margin: auto;
            width: fit-content;
}
@media (max-width: 1800px) {
  .btn-center{

    padding-top: 0.1vw;
    display: flex;
  }}

.btn-group button {
            background-color: #88DEC3;
            border: 0.2vw solid #366959d8;
            width: fit-content;
            color: #7030A0;
            font-size: 1.2vw;
            cursor: pointer;
            font-family:'Poppins', sans-serif;
            display: inline;
            }

 
/* Click and hover styles */
.button2:hover {
            box-shadow: 0 1.2vw 1.6vw 0 rgba(0,0,0,0.24),0 1.7vw 5vw 0 rgba(0,0,0,0.19);}
.buttonclick {
            font-weight: bold;}
 
/* images */
.images{
            max-height: fit-content;
            max-width: fit-content;
            display: grid;}
.column{
            max-height: fit-content;
            max-width: fit-content;
            display: inline;}
.imagesize{
            display: inline;
            height:30vw;
            width:30vw;}
img{
            height: 15vw;
            width: 15vw;
            padding: 0.5vw;}
 
/*centering*/
.center-home {
            padding-top: 3vw;
            margin: auto;
            width: fit-content;
            display: flex;}
.center-page{

            margin: auto;
            width: fit-content;
            display: flex;
          }

.center-under{
            padding-top: 1vw;
            margin: auto;
            width: fit-content;
            display: flex;
          }

 /*Spacing */
 
.b-space-divider {
  width: 100%;
  height:5vw;
}






/*green textboxes */
 

  
.greenboxhome{
             background-color: #88DEC3;
             padding: 1vw;
              width: 30vw;
              border: 1px solid #366959d8;
              color: #7030A0;
              font-size: 1.3vw;
              font-family:'Poppins', sans-serif;
              text-align: center;}

.greenboxwhatiscosplay{
              background-color: #88DEC3;
              padding: 0.9vw;
              width: 30vw;
              height:auto;
              border: 1px solid #366959d8;
              color: #7030A0;
              font-size: 0.92vw;
              font-family:'Poppins', sans-serif;
              text-align: center;}
 
.greenboxhowtopick{
                background-color: #88DEC3;
                padding: 1vw;
                width: 30vw;
                border: 1px solid #366959d8;
                color: #7030A0;
                font-size: 1.1vw;
                font-family:'Poppins', sans-serif;
                text-align: center;}

 

.smallgreenbox{
           background-color: #88DEC3;
           padding: 0.3vw;
           width: 1vw;
           border: 1px solid #366959d8;
           color: #7030A0;
           font-size: 0.5vw;
           font-family:'Poppins', sans-serif;
           text-align: center;
           display: inline;
           margin: auto;
           width: fit-content;
           display: flex;}

.mediumgreenbox{
          background-color: #88DEC3;
          padding-top: 0.1vw;
          padding-bottom: 0.1vw;
          padding-left: 0.5vw;
          padding-right: 0.5vw;
          width: 30vw;

          border: 1px solid #366959d8;
          color: #7030A0;
          font-size: 1.1vw;
          font-family:'Poppins', sans-serif;
          text-align: center;}

.widegreenbox{
            background-color: #88DEC3;
            padding: 1vw;
            width: 62vw;
            border: 1px solid #366959d8;
            color: #7030A0;
            font-size: 0.92vw;
            font-family:'Poppins', sans-serif;
            text-align: center;
            height: fit-content;}
          





footer {
              position: fixed;
              left: 0;
              bottom: 0;

              width: 100%;
              height:4%;
              text-align: center;
              border: 1px solid #366959d8;
              font-size: 55%;

              background-color: #88DEC3 ;
              color: #7030A0;
              font-family:'Poppins', sans-serif;
            }
               
                    
.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1800px) {
  .flex-container, .greenboxhome, .greenboxhowtopick, .imagesize, {
    flex-direction: column;
    font-size: 150%;
    


  
  }
}
